# Dependências
node_modules/
.pnpm-store/

# Build
dist/
.vite/
.cache/

# Ambiente
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema/IDE
.DS_Store
.idea/
.vscode/
*.swp